/* frontend/src/components/tasks/UpdateTask.css */
.update-task {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .update-task h2 {
    margin-bottom: 10px;
  }
  
  .update-task form {
    display: flex;
    flex-direction: column;
  }
  
  .update-task form label {
    margin-bottom: 5px;
  }
  
  .update-task form input[type="text"],
  .update-task form select {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .update-task form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .update-task form button[type="submit"] {
    margin-top: 10px;
  }
  
  .update-task form button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .update-task form button[type="button"] {
    margin-right: 10px;
    background-color: #dc3545;
  }
  
  .update-task form button[type="button"]:hover {
    background-color: #c82333;
  }
  