/* frontend/src/components/kanban/DeleteKanban.css */
.delete-kanban {
  margin-bottom: 16px;
}

.delete-kanban button {
  background-color: #2e6686;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-kanban button:hover {
  background-color: #2e6686;
}