/* frontend/src/components/kanban/DraggableCard.css */
.draggable-card {
  background-color: #2e6686;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: move;
}

.draggable-card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  background-color: cadetblue;
}

.draggable-card .card-footer-buttons {
  display: flex;
  align-items: center;
}

.draggable-card .card-footer-buttons button {
  margin-left: 2px;
}

  