/* frontend/src/components/kanban/DropZone.css */
.drop-zone {
  background-color: #d71e1e;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 0;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.drop-zone.active {
  background-color: #ee3333;
}

.drop-indicator {
  margin-top: 10px;
  text-align: center;
  color: rgb(224, 238, 19);
  font-weight: bold;
}

.card-body {
  flex: 1;
}
