/* frontend\src\components\kanban\KanbanColumn.css   */
.kanban-column {
  flex: 0 0 auto;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 270px;
  min-height: calc(100vh - 1rem);
  background-color: #088395;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.kanban-column-title {
  margin-bottom: 8px;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #088395;
  padding: 2px;
  border-radius: 4px;
  min-height: 115px;
}

.draggable-card {
  background-color: #05BFDB;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
}
