/* frontend/src/components/kanban/KanbanBoard.css */

.board {
    display: flex;
    justify-content: space-between;
  }

  .kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: auto;
}
  
  .column {
    flex: 1;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
    margin: 10px;
  }
  
  .column h3 {
    margin-top: 0;
  }
  
  .task-list {
    min-height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
  }
  
  .task {
    margin: 5px;
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 4px;
    cursor: grab;
  }
  
  .task:hover {
    background-color: #c93b3b;
  }
  
  .task:active {
    cursor: grabbing;
  }
  

