/* frontend/src/components/kanban/KanbanColumn.css */

.kanban-column {
  flex: 1 1 0 auto;
  margin: 0.2rem;
  margin-left: 0%;
  margin-top: -20px;
  padding: 0.5rem;
  width: auto;
  min-height: 100%;
  min-width: 20vh;
  background-color: #4dace3;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.kanban-column-title {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
}
/* DropZone alanı */
.card-container {
  margin-left: 0%;
  display: flex;
  flex-direction: column;
  background-color: #4dace3;
  padding: 4px;
  border-radius: 8px;
  min-height: 85%;
}

.draggable-card {
  background-color: #2e6686;
  padding: 5px;
  padding-bottom: 4px;
  padding-top: 0px;
  margin-bottom: 1px;
  margin-top: 2px;
  border-radius: 0px;
  cursor: pointer;
  width: 100%;
}
